html {
  height: 100%;
  width: 100%;
  background-color: #74644b;
}

body {
  text-align: center;
  margin: 0;
}

.grid {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  width: 400px;
  height: 400px;
  margin: auto;
}

.grid-item {
  background-color: #e0e0e0;
  border: solid 1px gray;
  /* padding: 10px; */
  text-align: center;
}

.colNum-3, .colNum-6 {
  border-right: 3px solid black;
}

.colNum-4, .colNum-7 {
  border-left: 3px solid black;
}

.rowNum-3, .rowNum-6 {
  border-bottom: 3px solid black;
}

.rowNum-4, .rowNum-7 {
  border-top: 3px solid black;
}